@model StudentManagement.Models.Entities.Subject

@{
    ViewData["Title"] = "EditSubject";
}

<h1>Edit Subject</h1>
<a asp-action="Index">Back to List</a>


<hr />

<div class="row">
    <div class="col-6 col-md-4">
        <h4>Details Information</h4>
        <dl class="row mt-3">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Code)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Code)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
    <div class="col-md-8">
        <div class="col-md-6">
            <form asp-action="EditSubject" method="get" class="d-flex flex-column gap-2">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Code" class="control-label"></label>
                    <input asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>


</div>
